{% extends 'base.html' %}

{% block content %}
    <h1>Search Results for "{{ query }}"</h1>
    <div class="product-grid">
        <div class="container">
            {% for product in products %}
                <div class="product-item">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    <h3>{{ product.name }}</h3>
                    <p>${{ product.price }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="home-button">
        <a href="{% url 'home' %}" class="btn">Home</a>
    </div>
{% endblock %}